In [1]:
import pandas as pd

# Load the dataset
file_path = r"C:\Users\THANDOLWETHU\Closed Ended Data.csv"
df = pd.read_csv(r"C:\Users\THANDOLWETHU\Closed Ended Data.csv")

# Display the first few rows of the dataset
print("First few rows of the dataset:")
display(df.head())

# Display the shape of the dataset
print(f"\nDataset shape: {df.shape}")

# Display the data types of each column
print("\nData types of each column:")
print(df.dtypes)

# Display summary statistics
print("\nSummary statistics of the dataset:")
display(df.describe(include='all'))

First few rows of the dataset:

,DATE_TIME,HOUSE_PIC,INTERVIEW_LANG,EDU_RECIEVED,INFO_RECIEVING,COMMUNICATION_WAY,LEADER_PARTICIPATION,COMMU_ORG,AVG_MON_SAL,HOUSE_HEAD,...,EDU_LEVEL,PARTICIPANT_JOB,SELF_BUILT_HOUSE,VEGES,FLOOD_EXP,YRLY_FLOOD,FIRE_EXP,WATER_SATISFIED,TOILET_TYPE,WATER_SOURCE
0,2022-10-11T12:24:20,NaN,en,NaN,Word of mouth,Word of mouth,NaN,NaN,NaN,Mother,...,Secondary,Unemployed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2022-10-11T12:24:20,NaN,zu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2022-10-11T12:24:20,Yes,en,NaN,Social events,Mobile phone,No,NaN,3500,Other,...,Secondary,Wage employee,No,No,No,NaN,Yes,Yes,Communal pit latrine,Community tap
3,2022-10-11T12:24:21,Yes,en,NaN,TV,TV,No,Lns,1000,Father,...,Secondary,Wage employee,No,No,No,NaN,Yes,Yes,Communal pit latrine,Community tap
4,2022-10-11T12:24:21,Yes,zu,NaN,Radio,Radio,No,NaN,<500,Husband,...,Secondary,Unemployed,Yes,Yes,Yes,1,Yes,No,Communal pit latrine,Community tap

Dataset shape: (4435, 23)

Data types of each column:
DATE_TIME               object
HOUSE_PIC               object
INTERVIEW_LANG          object
EDU_RECIEVED            object
INFO_RECIEVING          object
COMMUNICATION_WAY       object
LEADER_PARTICIPATION    object
COMMU_ORG               object
AVG_MON_SAL             object
HOUSE_HEAD              object
NO_HOUSEHOLD            object
CHANG_ECO_SITUA         object
ACC_STATUS              object
EDU_LEVEL               object
PARTICIPANT_JOB         object
SELF_BUILT_HOUSE        object
VEGES                   object
FLOOD_EXP               object
YRLY_FLOOD              object
FIRE_EXP                object
WATER_SATISFIED         object
TOILET_TYPE             object
WATER_SOURCE            object
dtype: object

Summary statistics of the dataset:

,DATE_TIME,HOUSE_PIC,INTERVIEW_LANG,EDU_RECIEVED,INFO_RECIEVING,COMMUNICATION_WAY,LEADER_PARTICIPATION,COMMU_ORG,AVG_MON_SAL,HOUSE_HEAD,...,EDU_LEVEL,PARTICIPANT_JOB,SELF_BUILT_HOUSE,VEGES,FLOOD_EXP,YRLY_FLOOD,FIRE_EXP,WATER_SATISFIED,TOILET_TYPE,WATER_SOURCE
count,4434,304,199,91,193,195,189,108,164,166,...,160,175,170,159,159,84,158,127,121,158
unique,311,126,36,56,17,17,10,28,12,15,...,6,15,12,3,3,15,3,2,4,3
top,Who would you define as the head of your house...,Yes,zu,There is none,Mobile phone,Mobile phone,No,There is none,<500,Father,...,Secondary,Unemployed,No,No,Yes,2,Yes,Yes,Communal pit latrine,Community tap
freq,64,140,86,26,69,96,144,24,57,69,...,119,89,93,143,87,29,116,77,87,156

In [2]:
# Check for missing data
missing_data = df.isnull().sum()
print("\nMissing data in each column:")
print(missing_data)

# Display columns with missing data
columns_with_missing_data = missing_data[missing_data > 0]
print("\nColumns with missing data:")
print(columns_with_missing_data)

Missing data in each column:
DATE_TIME                  1
HOUSE_PIC               4131
INTERVIEW_LANG          4236
EDU_RECIEVED            4344
INFO_RECIEVING          4242
COMMUNICATION_WAY       4240
LEADER_PARTICIPATION    4246
COMMU_ORG               4327
AVG_MON_SAL             4271
HOUSE_HEAD              4269
NO_HOUSEHOLD            4263
CHANG_ECO_SITUA         4269
ACC_STATUS              4276
EDU_LEVEL               4275
PARTICIPANT_JOB         4260
SELF_BUILT_HOUSE        4265
VEGES                   4276
FLOOD_EXP               4276
YRLY_FLOOD              4351
FIRE_EXP                4277
WATER_SATISFIED         4308
TOILET_TYPE             4314
WATER_SOURCE            4277
dtype: int64

Columns with missing data:
DATE_TIME                  1
HOUSE_PIC               4131
INTERVIEW_LANG          4236
EDU_RECIEVED            4344
INFO_RECIEVING          4242
COMMUNICATION_WAY       4240
LEADER_PARTICIPATION    4246
COMMU_ORG               4327
AVG_MON_SAL             4271
HOUSE_HEAD              4269
NO_HOUSEHOLD            4263
CHANG_ECO_SITUA         4269
ACC_STATUS              4276
EDU_LEVEL               4275
PARTICIPANT_JOB         4260
SELF_BUILT_HOUSE        4265
VEGES                   4276
FLOOD_EXP               4276
YRLY_FLOOD              4351
FIRE_EXP                4277
WATER_SATISFIED         4308
TOILET_TYPE             4314
WATER_SOURCE            4277
dtype: int64

In [6]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler


YRLY_FLOOD = df.select_dtypes(include=['float64', 'int64']).columns
print("\nNumeric columns in the dataset:")
print(YRLY_FLOOD)



scaler = MinMaxScaler()
df[YRLY_FLOOD] = scaler.fit_transform(df[YRLY_FLOOD])

print("\nFirst few rows after normalization:")
display(df.head())

Numeric columns in the dataset:
Index([], dtype='object')

ValueError: at least one array or dtype is required